// Poopins font:

@font-face {
   font-family: 'Poppins-400';
   font-style: normal;
   font-weight: 400;
   src: url('./assets/poppins-font/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
   src: local(''),
        url('./assets/poppins-font/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('./assets/poppins-font/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('./assets/poppins-font/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('./assets/poppins-font/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('./assets/poppins-font/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}
 
@font-face {
   font-family: 'Poppins-500';
   font-style: normal;
   font-weight: 500;
   src: url('./assets/poppins-font/poppins-v20-latin-500.eot'); 
   src: local(''),
        url('./assets/poppins-font/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'),
        url('./assets/poppins-font/poppins-v20-latin-500.woff2') format('woff2'), 
        url('./assets/poppins-font/poppins-v20-latin-500.woff') format('woff'), 
        url('./assets/poppins-font/poppins-v20-latin-500.ttf') format('truetype'), 
        url('./assets/poppins-font/poppins-v20-latin-500.svg#Poppins') format('svg');
}
 
@font-face {
   font-family: 'Poppins-600';
   font-style: normal;
   font-weight: 600;
   src: url('./assets/poppins-font/poppins-v20-latin-600.eot');
   src: local(''),
        url('./assets/poppins-font/poppins-v20-latin-600.eot?#iefix') format('embedded-opentype'), 
        url('./assets/poppins-font/poppins-v20-latin-600.woff2') format('woff2'), 
        url('./assets/poppins-font/poppins-v20-latin-600.woff') format('woff'), 
        url('./assets/poppins-font/poppins-v20-latin-600.ttf') format('truetype'), 
        url('./assets/poppins-font/poppins-v20-latin-600.svg#Poppins') format('svg'); 
}
 
@font-face {
   font-family: 'Poppins-700';
   font-style: normal;
   font-weight: 700;
   src: url('./assets/poppins-font/poppins-v20-latin-700.eot');
   src: local(''),
        url('./assets/poppins-font/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'),
        url('./assets/poppins-font/poppins-v20-latin-700.woff2') format('woff2'), 
        url('./assets/poppins-font/poppins-v20-latin-700.woff') format('woff'), 
        url('./assets/poppins-font/poppins-v20-latin-700.ttf') format('truetype'), 
        url('./assets/poppins-font/poppins-v20-latin-700.svg#Poppins') format('svg'); 
}

// Lato font:

@font-face {
   font-family: 'Lato-700';
   font-style: normal;
   font-weight: 700;
   src: url('./assets/lato-font/lato-v23-latin-700.eot');
   src: local(''),
        url('./assets/lato-font/lato-v23-latin-700.eot?#iefix') format('embedded-opentype'),
        url('./assets/lato-font/lato-v23-latin-700.woff2') format('woff2'),
        url('./assets/lato-font/lato-v23-latin-700.woff') format('woff'),
        url('./assets/lato-font/lato-v23-latin-700.ttf') format('truetype'),
        url('./assets/lato-font/lato-v23-latin-700.svg#Lato') format('svg');
}
 