// Color variables:

$header-background: #E6F0FF;
$header-nav: #4F5361;
$header-welcome-text: #687690;
$header-landing-text: #000336;

$subtitle-text: #000339;
$p-description-text: #5A6473;
$dark-btn: #0F1B4C;

$recension-text: #7D8589;

$footer-nav-title: #1C1C1D;
$footer-nav-options: #7A7A7E;