// Color variables
$header-background: #E6F0FF;
$header-nav: #4F5361;
$header-welcome-text: #687690;
$header-landing-text: #000336;

$review-text: #7D8589;

$properties-background: #F5FAFE;
$properties-card-p: #A3A6AB;
$properties-card-icons-p: #4D4D52;

$image-badge-p: #A7A7A7;
$image-badge-line-background: #E9E9E9;

$counter-h: black;
$counter-p: #7B8087;

$box-background: #063183;

$footer-nav-title: #1C1C1D;
$footer-nav-link: #7A7A7E;
$footer-nav-desc: #7A7A7E;
$footer-line-p: #C2C2C2;

// General color variables
$subtitle-text: #000339;
$p-description-text: #5A6473;
$dark-btn: #0F1B4C;
$light-background: white;
$link-blue: #0689FF;
$hover-yellow: #F7A804;

