@import './assets/variables';
@import './assets/fonts';

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

header {
   display: flex;
   align-items: center;
   flex-direction: column;
   background-color: $header-background;

   .header-wrapper-div {
      max-width: 1440px;
      padding-inline: 11%;
   }

   .nav-bar {
      display: flex;
      align-items: center;
      padding-top: 46px;

      img {
         margin-right: 64px;
         max-width: 107px;
      }

      .header-nav {
         display: flex;
         gap: 30px;
         margin-right: auto;

         a {
            font-family: 'Poppins-500';
            text-decoration: none;
            color: $header-nav;
            font-size: 14px;
         }
      }

      .register-div {
         button {
            font-family: 'Poppins-500';
            font-size: 14px;
            cursor: pointer;
         }

         // Sign up
         button:nth-child(1) {
            background-color: transparent;
            border: none;
            color: $dark-btn;
            margin-right: 18px;
         }

         // Register
         button:nth-child(2) {
            background-color: $dark-btn;
            border: none;
            padding: 9px 20px;
            color: white;
            border-radius: 8px;
         }
      }

      .mobile-menu-items{
         display: none;
      }
   }

   .header-content {
      display: flex;

      .header-content-text {
         margin-top: 11.5%;

         .welcome-text {
            font-family: 'Poppins-500';
            font-size: 18px;
            color: $header-welcome-text;
            letter-spacing: 1px;
            margin-bottom: 8px;
         }

         h1 {
            font-family: 'Poppins-700';
            font-size: 64px;
            line-height: 76px;
         }

         .description-text {
            font-family: 'Poppins-400';
            font-size: 18px;
            line-height: 32px;
            margin-top: 30px;
            max-width: 600px;
            color: $p-description-text;
         }

         button {
            font-family: 'Poppins-500';
            font-size: 13px;
            margin-top: 40px;
            padding: 15px 38px;
            border-radius: 8px;
            border: none;
            background-color: $dark-btn;
            color: white;
            cursor: pointer;
            margin-bottom: 150px;
         }
      }

      img {
         align-self: flex-end;
         max-width: 584px;
         width: 100%;
         height: auto;
         margin-top: 55px;
         margin-right: -98px;
      }
   }
}

.review-section {
   display: flex;
   flex-direction: column;
   background-color: $light-background;

   .review-wrapper-div {
      max-width: 1440px;
      padding-inline: 11%;
      padding-block: 120px;
   }

   .reviews-info {
      display: flex;
      align-items: center;

      .review-text {
         display: flex;
         flex-direction: column;
         margin-right: auto;

         img {
            width: 107px;
            margin-bottom: 23px;
         }

         p {
            font-family: 'Poppins-500';
            font-size: 16px;
            line-height: 20px;
            color: $review-text;
         }
      }

      .review-rating {
         display: flex;
         flex-direction: column;

         img {
            width: 116px;
            margin-bottom: 14px;
         }

         p {
            font-family: 'Poppins-500';
            font-size: 16px;
            line-height: 20px;
            color: $review-text;
         }
      }
   }

   .review-logos {
      display: flex;
      gap: 55px;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 80px;

      img:nth-child(1) {
         width: 145px;
         height: auto;
         flex-grow: 1;
      }
      img:nth-child(2) {
         width: 116px;
         height: auto;
         flex-grow: 1;

      }
      img:nth-child(3) {
         width: 121px;
         flex-grow: 1;
         height: auto;
      }
      img:nth-child(4) {
         width: 157px;
         flex-grow: 1;
         height: auto;
      }
      img:nth-child(5) {
         width: 154px;
         flex-grow: 1;
         height: auto;
      }
   }
}

.how-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: $light-background;

   .how-wrapper-div {
      max-width: 1440px;
      padding-inline: 11%;
      text-align: center;
   }

   .line {
      width: 41px;
      height: 4px;
      background-color: $subtitle-text;
      margin-left: auto;
      margin-right: auto;
      border-radius: 8px;
      margin-bottom: 10px;
   }

   h2 {
      font-family: 'Poppins-600';
      font-size: 35px;
      text-align: center;
      color: $subtitle-text;
      margin-bottom: 20px;
   }

   p {
      font-family: 'Poppins-400';
      font-size: 16px;
      text-align: center;
      color: $p-description-text;
      margin-bottom: 70px;
      margin-inline: auto;
      max-width: 450px;
   }

   .how-cards-div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 140px;

      .card {
         display: flex;
         align-items: center;
         flex-direction: column;
         gap: 8px;

         img {
            width: 48px;
            margin-bottom: 20px;
         }

         p {
            font-family: 'Poppins-500';
            font-size: 20px;
            margin-bottom: 0px;
            white-space: nowrap;
         }

         a {
            font-family: 'Poppins-600';
            font-size: 14px;
            text-decoration: none;
            color: #0689FF;
         }
      }
   }

   button {
      font-family: 'Poppins-500';
      font-size: 13px;
      padding: 15px 25px;
      border: none;
      border-radius: 8px;
      background-color: $dark-btn;
      text-align: center;
      color: white;
      margin-top: 48px;
      margin-bottom: 100px
   }
}

@import './mediaq/media-1185';
@import './mediaq/media-970';
@import './mediaq/media-585';