@import './assets/variables';
@import './assets/fonts';

* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

header {
   display: flex;
   align-items: center;
   flex-direction: column;
   background-color: $header-background;

   .header-wrapper-div {
      max-width: 1440px;
      padding-inline: 11%;
   }

   .nav-bar {
      display: flex;
      align-items: center;
      padding-top: 46px;

      img {
         margin-right: 64px;
         max-width: 107px;
      }

      .header-nav {
         display: flex;
         gap: 30px;
         margin-right: auto;

         a {
            font-family: 'Poppins-500';
            text-decoration: none;
            color: $header-nav;
            font-size: 14px;
         }
      }

      .register-div {
         button {
            font-family: 'Poppins-500';
            font-size: 14px;
            cursor: pointer;
         }

         // Sign up
         button:nth-child(1) {
            background-color: transparent;
            border: none;
            color: $dark-btn;
            margin-right: 18px;
         }

         // Register
         button:nth-child(2) {
            background-color: $dark-btn;
            border: none;
            padding: 9px 20px;
            color: white;
            border-radius: 8px;
         }
      }

      .mobile-menu-items{
         display: none;
      }
   }

   .header-content {
      display: flex;

      .header-content-text {
         margin-top: 11.5%;

         .welcome-text {
            font-family: 'Poppins-500';
            font-size: 18px;
            color: $header-welcome-text;
            letter-spacing: 1px;
            margin-bottom: 8px;
         }

         h1 {
            font-family: 'Poppins-700';
            font-size: 64px;
            line-height: 76px;
         }

         .description-text {
            font-family: 'Poppins-400';
            font-size: 18px;
            line-height: 32px;
            margin-top: 30px;
            max-width: 600px;
            color: $p-description-text;
         }

         button {
            font-family: 'Poppins-500';
            font-size: 13px;
            margin-top: 40px;
            padding: 15px 38px;
            border-radius: 8px;
            border: none;
            background-color: $dark-btn;
            color: white;
            cursor: pointer;
            margin-bottom: 150px;
         }
      }

      img {
         align-self: flex-end;
         max-width: 584px;
         width: 100%;
         height: auto;
         margin-top: 55px;
         margin-right: -98px;
      }
   }
}

.review-section {
   display: flex;
   flex-direction: column;
   background-color: $light-background;
   align-items: center;

   .review-wrapper-div {
      max-width: 1440px;
      padding-inline: 11%;
      padding-block: 120px;
      width: 100%;
   }

   .reviews-info {
      display: flex;
      align-items: center;

      .review-text {
         display: flex;
         flex-direction: column;
         margin-right: auto;

         img {
            width: 107px;
            margin-bottom: 23px;
         }

         p {
            font-family: 'Poppins-500';
            font-size: 16px;
            line-height: 20px;
            color: $review-text;
         }
      }

      .review-rating {
         display: flex;
         flex-direction: column;

         img {
            width: 116px;
            margin-bottom: 14px;
         }

         p {
            font-family: 'Poppins-500';
            font-size: 16px;
            line-height: 20px;
            color: $review-text;
         }
      }
   }

   .review-logos {
      display: flex;
      gap: 55px;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 80px;

      img:nth-child(1) {
         width: 145px;
         height: auto;
         flex-grow: 1;
      }
      img:nth-child(2) {
         width: 116px;
         height: auto;
         flex-grow: 1;

      }
      img:nth-child(3) {
         width: 121px;
         flex-grow: 1;
         height: auto;
      }
      img:nth-child(4) {
         width: 157px;
         flex-grow: 1;
         height: auto;
      }
      img:nth-child(5) {
         width: 154px;
         flex-grow: 1;
         height: auto;
      }
   }
}

.how-section {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-color: $light-background;

   .how-wrapper-div {
      max-width: 1440px;
      padding-inline: 11%;
      text-align: center;
   }

   .line {
      width: 41px;
      height: 4px;
      background-color: $subtitle-text;
      margin-left: auto;
      margin-right: auto;
      border-radius: 8px;
      margin-bottom: 10px;
   }

   h2 {
      font-family: 'Poppins-600';
      font-size: 35px;
      text-align: center;
      color: $subtitle-text;
      margin-bottom: 20px;
   }

   p {
      font-family: 'Poppins-400';
      font-size: 16px;
      text-align: center;
      color: $p-description-text;
      margin-bottom: 70px;
      margin-inline: auto;
      max-width: 450px;
   }

   .how-cards-div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 140px;

      .card {
         display: flex;
         align-items: center;
         flex-direction: column;
         gap: 8px;

         img {
            width: 48px;
            margin-bottom: 20px;
         }

         p {
            font-family: 'Poppins-500';
            font-size: 20px;
            margin-bottom: 0px;
            white-space: nowrap;
         }

         a {
            font-family: 'Poppins-600';
            font-size: 14px;
            text-decoration: none;
            color: #0689FF;
         }
      }
   }

   button {
      font-family: 'Poppins-500';
      font-size: 13px;
      padding: 15px 25px;
      border: none;
      border-radius: 8px;
      background-color: $dark-btn;
      text-align: center;
      color: white;
      margin-top: 48px;
      margin-bottom: 110px
   }
}

.properties-section {
   display: flex;
   flex-direction: column;
   background-color: #F5FAFE;
   align-items: center;

   .properties-wrapper-div {
      max-width: 1440px;
      padding-inline: 11%;
      width: 100%;
   }

   .properties-info {
      display: flex;
      margin-top: 90px;

      .properties-title {
         margin-right: auto;

         h2 {
            font-family: 'Poppins-600';
            font-size: 35px;
            margin-bottom: 12px;
            color: $subtitle-text;
         }

         p {
            font-family: 'Poppins-400';
            font-size: 16px;
            color: $p-description-text;
         }
      }

      .properties-link {
         align-self: flex-end;
         font-family: 'Poppins-600';
         font-size: 18px;
         text-decoration: none;
         color: #0689FF;
      }
   }

   .properties-cards-div {
      display: flex;
      margin-top: 68px;
      padding-bottom: 100px;
      justify-content: space-between;
      gap: 15px;
      
      .properties-card {
         display: flex;
         flex-direction: column;
         background-color: $light-background;
         border-radius: 12px;
         max-width: 350px;
         
         img {
            width: 100%;
            height: auto;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
         }

         h3, p, .properties-card-icons {
            padding-inline: 5.5%;
         }

         h3 {
            font-family: 'Poppins-600';
            font-size: 20px;
            color: $subtitle-text;
            margin-top: 20px;
         }

         p {
            font-family: 'Poppins-500';
            font-size: 14px;
            margin-top: 8px;
            color: #A3A6AB;
         }

         .properties-card-icons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 18px;
            margin-bottom: 25px;

            .properties-icon {
               display: flex;
               align-items: center;
               gap: 5px;

               img {
                  width: 21px;
                  border-radius: 0;
               }

               p {
                  font-family: 'Poppins-500';
                  font-size: 14px;
                  color: #4D4D52;
                  white-space: nowrap;
                  margin-top: 0;
               }
            }
         }
      }
   }
}

.numbers-section {
   display: flex;
   flex-direction: column;
   background-color: $light-background;
   align-items: center;

   .numbers-wrapper-div {
      max-width: 1440px;
      padding-inline: 11%;
      width: 100%;
   }

   .numbers-content {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 100px;

      .numbers-image {
         position: relative;
         display: flex;
         align-items: center;
         max-width: 400px;
         height: 500px;
         margin-right: 12%;

         .image-badge {
            position: absolute;
            width: 240px;
            top: 0;
            left: -120px;
            background-color: $light-background;
            padding-inline: 20px;
            border-bottom-right-radius: 12px;

            .badge-title {
               display: flex;
               align-items: center;
               margin-top: 25px;
               margin-bottom: 8px;

               h3 {
                  font-family: 'Poppins-700';
                  font-size: 26px;
                  margin-right: auto;
               }

               img {
                  width: 25px;
                  border-radius: 0;
               }
            }

            p {
               font-family: 'Poppins-400';
               font-size: 12px;
               color: #A7A7A7;
            }

            .badge-line {
               height: 1px;
               width: 100%;
               background-color: #E9E9E9;
               margin-top: 25px;
               border-radius: 10px;
            }

            .badge-users {
               margin-block: 20px;
            }
         }

         img {
            width: 100%;
            height: auto;
            border-radius: 12px;
         }
      }

      .numbers-text {
         display: flex;
         flex-direction: column;
         justify-content: flex-start;
         max-width: 320px;

         .line {
            width: 41px;
            height: 4px;
            background-color: $subtitle-text;
            margin-bottom: 10px;
            border-radius: 12px;
         }

         h2 {
            font-family: 'Poppins-600';
            font-size: 35px;
            color: $subtitle-text;
            margin-bottom: 20px
         }

         p {
            font-family: 'Poppins-400';
            font-size: 16px;
            color: $p-description-text
         }
      }
   }

   .numbers-counter {
      display: flex;
      justify-content: space-around;
      margin-bottom: 90px;

      .counter-box {
         margin-top: 90px;

         h1 {
            font-family: 'Poppins-600';
            font-size: 64px;
            color: black;
            margin-bottom: 10px
         }

         p {
            font-family: 'Poppins-500';
            font-size: 18px;
            color: #7B8087;
         }
      }
   }
}

.box-section {
   display: flex;
   flex-direction: column;
   background-color: $light-background;
   padding-bottom: 100px;
   align-items: center;

   .box-wrapper-div {
      max-width: 1440px;
      width: 100%;
      padding-inline: 11%;
   }

   .box {
      position: relative;
      background-color: #063183;
      margin-top: 50px;
      border-radius: 20px;
      padding: 110px 80px;

      h2 {
         font-family: 'Poppins-600';
         font-size: 35px;
         color: white;
         margin-bottom: 15px;
      }

      p { 
         font-family: 'Poppins-400';
         font-style: normal;
         font-size: 16px;
         color: white;
         margin-bottom: 28px;
      }

      button {
         font-family: 'Poppins-500';
         font-size: 13px;
         padding: 15px 22px;
         border-radius: 12px;
         color: #002366;
         background-color: $light-background;
         border: none;
         cursor: pointer;
      }

      img {
         max-width: 230px;
         position: absolute;
         right: 120px;
         bottom: 0;
      }
   }
}

@import './mediaq/media-1185';
@import './mediaq/media-970';
@import './mediaq/media-585';