@font-face {
  font-family: 'Poppins-400';
  font-style: normal;
  font-weight: 400;
  src: url("./assets/poppins-font/poppins-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("./assets/poppins-font/poppins-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("./assets/poppins-font/poppins-v20-latin-regular.woff2") format("woff2"), url("./assets/poppins-font/poppins-v20-latin-regular.woff") format("woff"), url("./assets/poppins-font/poppins-v20-latin-regular.ttf") format("truetype"), url("./assets/poppins-font/poppins-v20-latin-regular.svg#Poppins") format("svg");
  /* Legacy iOS */
}

@font-face {
  font-family: 'Poppins-500';
  font-style: normal;
  font-weight: 500;
  src: url("./assets/poppins-font/poppins-v20-latin-500.eot");
  src: local(""), url("./assets/poppins-font/poppins-v20-latin-500.eot?#iefix") format("embedded-opentype"), url("./assets/poppins-font/poppins-v20-latin-500.woff2") format("woff2"), url("./assets/poppins-font/poppins-v20-latin-500.woff") format("woff"), url("./assets/poppins-font/poppins-v20-latin-500.ttf") format("truetype"), url("./assets/poppins-font/poppins-v20-latin-500.svg#Poppins") format("svg");
}

@font-face {
  font-family: 'Poppins-600';
  font-style: normal;
  font-weight: 600;
  src: url("./assets/poppins-font/poppins-v20-latin-600.eot");
  src: local(""), url("./assets/poppins-font/poppins-v20-latin-600.eot?#iefix") format("embedded-opentype"), url("./assets/poppins-font/poppins-v20-latin-600.woff2") format("woff2"), url("./assets/poppins-font/poppins-v20-latin-600.woff") format("woff"), url("./assets/poppins-font/poppins-v20-latin-600.ttf") format("truetype"), url("./assets/poppins-font/poppins-v20-latin-600.svg#Poppins") format("svg");
}

@font-face {
  font-family: 'Poppins-700';
  font-style: normal;
  font-weight: 700;
  src: url("./assets/poppins-font/poppins-v20-latin-700.eot");
  src: local(""), url("./assets/poppins-font/poppins-v20-latin-700.eot?#iefix") format("embedded-opentype"), url("./assets/poppins-font/poppins-v20-latin-700.woff2") format("woff2"), url("./assets/poppins-font/poppins-v20-latin-700.woff") format("woff"), url("./assets/poppins-font/poppins-v20-latin-700.ttf") format("truetype"), url("./assets/poppins-font/poppins-v20-latin-700.svg#Poppins") format("svg");
}

@font-face {
  font-family: 'Lato-700';
  font-style: normal;
  font-weight: 700;
  src: url("./assets/lato-font/lato-v23-latin-700.eot");
  src: local(""), url("./assets/lato-font/lato-v23-latin-700.eot?#iefix") format("embedded-opentype"), url("./assets/lato-font/lato-v23-latin-700.woff2") format("woff2"), url("./assets/lato-font/lato-v23-latin-700.woff") format("woff"), url("./assets/lato-font/lato-v23-latin-700.ttf") format("truetype"), url("./assets/lato-font/lato-v23-latin-700.svg#Lato") format("svg");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #E6F0FF;
}

header .header-wrapper-div {
  max-width: 1440px;
  padding-inline: 11%;
}

header .nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 46px;
}

header .nav-bar img {
  margin-right: 64px;
  max-width: 107px;
}

header .nav-bar .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-right: auto;
}

header .nav-bar .header-nav a {
  font-family: 'Poppins-500';
  text-decoration: none;
  color: #4F5361;
  font-size: 14px;
}

header .nav-bar .register-div button {
  font-family: 'Poppins-500';
  font-size: 14px;
  cursor: pointer;
}

header .nav-bar .register-div button:nth-child(1) {
  background-color: transparent;
  border: none;
  color: #0F1B4C;
  margin-right: 18px;
}

header .nav-bar .register-div button:nth-child(2) {
  background-color: #0F1B4C;
  border: none;
  padding: 9px 20px;
  color: white;
  border-radius: 8px;
}

header .nav-bar .mobile-menu-items {
  display: none;
}

header .header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header-content .header-content-text {
  margin-top: 11.5%;
}

header .header-content .header-content-text .welcome-text {
  font-family: 'Poppins-500';
  font-size: 18px;
  color: #687690;
  letter-spacing: 1px;
  margin-bottom: 8px;
}

header .header-content .header-content-text h1 {
  font-family: 'Poppins-700';
  font-size: 64px;
  line-height: 76px;
}

header .header-content .header-content-text .description-text {
  font-family: 'Poppins-400';
  font-size: 18px;
  line-height: 32px;
  margin-top: 30px;
  max-width: 600px;
  color: #5A6473;
}

header .header-content .header-content-text button {
  font-family: 'Poppins-500';
  font-size: 13px;
  margin-top: 40px;
  padding: 15px 38px;
  border-radius: 8px;
  border: none;
  background-color: #0F1B4C;
  color: white;
  cursor: pointer;
  margin-bottom: 150px;
}

header .header-content img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  max-width: 584px;
  width: 100%;
  height: auto;
  margin-top: 55px;
  margin-right: -98px;
}

.review-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
}

.review-section .review-wrapper-div {
  max-width: 1440px;
  padding-inline: 11%;
  padding-block: 120px;
}

.review-section .reviews-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.review-section .reviews-info .review-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: auto;
}

.review-section .reviews-info .review-text img {
  width: 107px;
  margin-bottom: 23px;
}

.review-section .reviews-info .review-text p {
  font-family: 'Poppins-500';
  font-size: 16px;
  line-height: 20px;
  color: #7D8589;
}

.review-section .reviews-info .review-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.review-section .reviews-info .review-rating img {
  width: 116px;
  margin-bottom: 14px;
}

.review-section .reviews-info .review-rating p {
  font-family: 'Poppins-500';
  font-size: 16px;
  line-height: 20px;
  color: #7D8589;
}

.review-section .review-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 55px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
}

.review-section .review-logos img:nth-child(1) {
  width: 145px;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.review-section .review-logos img:nth-child(2) {
  width: 116px;
  height: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.review-section .review-logos img:nth-child(3) {
  width: 121px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: auto;
}

.review-section .review-logos img:nth-child(4) {
  width: 157px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: auto;
}

.review-section .review-logos img:nth-child(5) {
  width: 154px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: auto;
}

.how-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
}

.how-section .how-wrapper-div {
  max-width: 1440px;
  padding-inline: 11%;
  text-align: center;
}

.how-section .line {
  width: 41px;
  height: 4px;
  background-color: #000339;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.how-section h2 {
  font-family: 'Poppins-600';
  font-size: 35px;
  text-align: center;
  color: #000339;
  margin-bottom: 20px;
}

.how-section p {
  font-family: 'Poppins-400';
  font-size: 16px;
  text-align: center;
  color: #5A6473;
  margin-bottom: 70px;
  margin-inline: auto;
  max-width: 450px;
}

.how-section .how-cards-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 140px;
}

.how-section .how-cards-div .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 8px;
}

.how-section .how-cards-div .card img {
  width: 48px;
  margin-bottom: 20px;
}

.how-section .how-cards-div .card p {
  font-family: 'Poppins-500';
  font-size: 20px;
  margin-bottom: 0px;
  white-space: nowrap;
}

.how-section .how-cards-div .card a {
  font-family: 'Poppins-600';
  font-size: 14px;
  text-decoration: none;
  color: #0689FF;
}

.how-section button {
  font-family: 'Poppins-500';
  font-size: 13px;
  padding: 15px 25px;
  border: none;
  border-radius: 8px;
  background-color: #0F1B4C;
  text-align: center;
  color: white;
  margin-top: 48px;
  margin-bottom: 110px;
}

.properties-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F5FAFE;
}

.properties-section .properties-wrapper-div {
  max-width: 1440px;
  padding-inline: 11%;
}

.properties-section .properties-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 90px;
}

.properties-section .properties-info .properties-title {
  margin-right: auto;
}

.properties-section .properties-info .properties-title h2 {
  font-family: 'Poppins-600';
  font-size: 35px;
  margin-bottom: 12px;
  color: #000339;
}

.properties-section .properties-info .properties-title p {
  font-family: 'Poppins-400';
  font-size: 16px;
  color: #5A6473;
}

.properties-section .properties-info .properties-link {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-family: 'Poppins-600';
  font-size: 18px;
  text-decoration: none;
  color: #0689FF;
}

.properties-section .properties-cards-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 68px;
  padding-bottom: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.properties-section .properties-cards-div .properties-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 12px;
  max-width: 350px;
}

.properties-section .properties-cards-div .properties-card img {
  width: 100%;
  height: auto;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.properties-section .properties-cards-div .properties-card h3, .properties-section .properties-cards-div .properties-card p, .properties-section .properties-cards-div .properties-card .properties-card-icons {
  padding-inline: 5.5%;
}

.properties-section .properties-cards-div .properties-card h3 {
  font-family: 'Poppins-600';
  font-size: 20px;
  color: #000339;
  margin-top: 20px;
}

.properties-section .properties-cards-div .properties-card p {
  font-family: 'Poppins-500';
  font-size: 14px;
  margin-top: 8px;
  color: #A3A6AB;
}

.properties-section .properties-cards-div .properties-card .properties-card-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 18px;
  margin-bottom: 25px;
}

.properties-section .properties-cards-div .properties-card .properties-card-icons .properties-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.properties-section .properties-cards-div .properties-card .properties-card-icons .properties-icon img {
  width: 21px;
  border-radius: 0;
}

.properties-section .properties-cards-div .properties-card .properties-card-icons .properties-icon p {
  font-family: 'Poppins-500';
  font-size: 14px;
  color: #4D4D52;
  white-space: nowrap;
  margin-top: 0;
}

@media only screen and (max-width: 1185px) {
  header .header-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    position: relative;
  }
  header .header-content .header-content-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header-content .header-content-text h1 {
    margin-top: 20px;
    text-align: center;
  }
  header .header-content .header-content-text .description-text {
    text-align: center;
    margin-top: 20px;
  }
  header .header-content .header-content-text button {
    margin-bottom: 170px;
  }
  header .header-content img {
    position: absolute;
    bottom: 0;
    left: -75px;
    max-width: 300px;
    height: 350px;
  }
  .review-section .review-logos {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  .review-section .review-logos img:nth-child(1) {
    width: 145px;
    height: auto;
    -webkit-box-flex: initial;
        -ms-flex-positive: initial;
            flex-grow: initial;
  }
  .review-section .review-logos img:nth-child(2) {
    width: 116px;
    height: auto;
    -webkit-box-flex: initial;
        -ms-flex-positive: initial;
            flex-grow: initial;
  }
  .review-section .review-logos img:nth-child(3) {
    width: 121px;
    -webkit-box-flex: initial;
        -ms-flex-positive: initial;
            flex-grow: initial;
    height: auto;
  }
  .review-section .review-logos img:nth-child(4) {
    width: 157px;
    -webkit-box-flex: initial;
        -ms-flex-positive: initial;
            flex-grow: initial;
    height: auto;
  }
  .review-section .review-logos img:nth-child(5) {
    width: 154px;
    -webkit-box-flex: initial;
        -ms-flex-positive: initial;
            flex-grow: initial;
    height: auto;
  }
}

@media only screen and (max-width: 970px) {
  .stop-scroll {
    overflow: hidden;
  }
  header .nav-bar .mobile-menu-div {
    z-index: 3;
    -webkit-tap-highlight-color: transparent;
  }
  header .nav-bar .mobile-menu-div:hover {
    cursor: pointer;
  }
  header .nav-bar .mobile-menu-div .menu-icon {
    width: 26px;
    height: 2px;
    background-color: #0F1B4C;
    margin: 5px 0px;
    border-radius: 10px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  header .nav-bar .mobile-menu-div .bar-1.open {
    width: 20px;
    -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
    margin: 0px;
  }
  header .nav-bar .mobile-menu-div .bar-2.open {
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
    background: transparent;
  }
  header .nav-bar .mobile-menu-div .bar-3.open {
    width: 20px;
    -webkit-transform: rotate(-405deg);
            transform: rotate(-405deg);
    margin: 0px;
  }
  header .nav-bar .mobile-menu-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    /* Stay at the top */
    right: 0;
    z-index: 2;
    background-color: #E6F0FF;
    overflow: hidden;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  header .nav-bar .mobile-menu-items a {
    font-family: 'Poppins-400';
    font-size: 16px;
    padding-block: 12px;
    text-align: right;
    text-decoration: none;
    font-size: 20px;
    color: #0F1B4C;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-tap-highlight-color: transparent;
  }
  header .nav-bar .mobile-menu-items .register-div-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 12px;
    margin-top: 30px;
  }
  header .nav-bar .mobile-menu-items .register-div-mobile button {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
  }
  header .nav-bar .mobile-menu-items .register-div-mobile button:nth-child(1) {
    font-family: 'Poppins-400';
    font-size: 13px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #0F1B4C;
    color: #0F1B4C;
    padding: 2px 0px;
  }
  header .nav-bar .mobile-menu-items .register-div-mobile button:nth-child(2) {
    font-size: 16px;
    font-family: 'Poppins-500';
    background-color: #0F1B4C;
    border: none;
    padding: 12px 80px;
    color: #E6F0FF;
    border-radius: 8px;
  }
  header .nav-bar .mobile-menu-items.open {
    width: 100%;
    background-color: #E6F0FF;
  }
  header .nav-bar img {
    margin-right: auto;
  }
  header .nav-bar .header-nav {
    display: none;
  }
  header .nav-bar .register-div {
    display: none;
  }
  header .header-content .header-content-text .welcome-text {
    font-size: 17px;
  }
  header .header-content .header-content-text h1 {
    font-size: 52px;
  }
  header .header-content .header-content-text .description-text {
    font-size: 16px;
  }
  header .header-content img {
    max-width: 150px;
    height: 180px;
    left: 0;
  }
  .review-section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .review-section .reviews-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .review-section .reviews-info .review-text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0;
    text-align: center;
  }
  .review-section .reviews-info .review-rating {
    margin-top: 40px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .how-section .how-cards-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 70px;
  }
  .how-section button {
    margin-top: 55px;
  }
}

@media only screen and (max-width: 585px) {
  header .nav-bar img {
    margin-right: auto;
  }
  header .nav-bar .header-nav {
    display: none;
  }
  header .nav-bar .register-div {
    display: none;
  }
  header .header-content .header-content-text .welcome-text {
    font-size: 16px;
    margin-top: 40px;
  }
  header .header-content .header-content-text h1 {
    font-size: 33px;
    line-height: 45px;
    margin-top: 25px;
  }
  header .header-content .header-content-text .description-text {
    font-size: 14px;
    line-height: 26px;
    margin-top: 30px;
  }
  header .header-content .header-content-text button {
    font-size: 12px;
    padding: 12px 32px;
    margin-top: 35px;
    margin-bottom: 110px;
  }
  header .header-content img {
    max-width: 100px;
    height: 120px;
    left: -20px;
  }
}
/*# sourceMappingURL=style.css.map */